.quote-text {
    margin-top: 30px;
    font-size: 2rem;
    color: white;
}

.quote-author {
    margin-top: 15px;
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    color: white;
}

.button-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

button1 {
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    color: rgb(32, 30, 30);
    background: rgb(236, 233, 233);
    outline: none;
    padding: 0.5rem 1.8rem;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.65)
}

button1:hover {
    filter: brightness(120%);
}

button1:active {
    transform: translate(0, 0.3rem);
    box-shadow: 0 0.1rem rgba(255, 255, 255, 0.65)
}

.twitter-button:hover {
    color: #38a1f3;
}

.fa-twitter {
    font-size: 1.5rem;
}

/* Loader */
.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #333;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* Media Query: Tablet or smaller */
@media screen and (max-width: 1000px) {
    .quote-container {
        margin: auto 10px;
    }

    .quote-text {
        font-size: 2.5rem;
    }
}